@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
}


/* Header */

header{
    font-family: 'Major Mono Display', monospace;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1%;
    position: fixed;
    top: 0; left: 0; right: 0;
}   

header a{
    transition: all 0.3s ease 0.3s;
    color: rgba(82, 204, 153);
    text-decoration: none;
}

header a:hover{
    color: white;
}



li a{
    transition: all 0.2s ease 0.2s;
    color: white;
    text-decoration: none;
}

li a:hover{
    color: rgb(82, 204, 153);
}

/* Main */

.main-acc{
    font-weight: bold;
    height: 100vh;
    margin-top: 18%;
    font-family: 'Major Mono Display', monospace;
    color: ghostwhite;
    text-align: center;
    text-shadow: black 0px 2px 3px;
}

.down{
    color: white;
    text-decoration: none;
    font-size: 55px;
    transition: all 0.2s ease 0.2s;
}

.down:hover{
    color: rgb(82, 204, 153);
}

.main-content{
    background-image: url(../images/bg2.jpg);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title{
    text-shadow: black 0px 1px 1px;
    color: rgba(82, 204, 153);
    font-family: 'Major Mono Display', monospace;  
}

#boussole{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#jum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Footer */ 

footer{
    font-family: 'Major Mono Display', monospace;  
    background-color:#eee4e3;
    color: black;
    bottom: 0; left: 0; right: 0;
}
